/* I could have broken the CSS into separate files 
per component if the project were larger */

/* Desktop */
@media (min-width: 768px) and (max-width: 1281px) and (orientation: landscape) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* Header Component */
.filter-controls {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 2rem 0;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.filter-inputs {
  margin-left: 0.5rem;
  cursor: pointer;
}

.dropdown-controls {
  display: flex;
  justify-content: space-evenly;
}

.input-labels {
  margin-left: 0.5rem;
}

/* Pagination Component */
.pagination-list {
  display: flex;
  list-style-type: none;
}

.pagination-list-item {
  margin: 1rem;
}

/* RestaurantTable Component */
.restaurant-table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.restaurant-table td,
.restaurant-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.restaurant-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.restaurant-table tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.restaurant-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: Black;
  border: 1px solid red;
  cursor: default;
}

.alternate-states {
  background-color: white;
  border: none !important;
}

/* Smartphones, Tablets (portrait and landscape) */
@media (min-width: 481px) and (max-width: 767px) {
  .filter-controls {
    flex-direction: column;
  }

  .input-labels {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 583px) {
  .filter-controls {
    flex-direction: column;
  }

  .input-labels {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
